:root {
  --gradient-0: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --blue-2: hsl(243, 100%, 93%);
  --blue-5: hsl(229, 7%, 55%);
  --blue-8: hsl(228, 56%, 26%);
  --blue-9: hsl(229, 57%, 11%);
  --white: hsl(0, 0%, 100%);
}
